body {
    font-family: Arial, sans-serif;
    margin-top: 90px;
    padding: 0;
    height: 100vh;
    background-color: #898989;
}
:root {
    --underline-color: #e67e22;
    --primary-color: #e67e22;
    --primary-color-hover: #f39c12;
}
.add_button {
    text-align: right;
    padding: 16px 16px 0 0;
}
button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-color-hover);
}

#menuFormContent div{
    margin: 16px 0;
}

.calendar_table {
    width: 97%;
    margin: 20px;
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

th {
    background-color: var(--underline-color);
    color: white;
}

td {
    background-color: #f9f9f9;
    width: 150px;
    height: 70px;
}

td:hover {
    background-color: #f0f0f0;
}

 .row-label {
    background-color: #666;
    color: white;
    font-weight: bold;
}

.card {
    width: 120px;
    height: 90px;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 5px;
    background-color: #e8e8e8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.card .recipeName {
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card button {
    font-size: 10px;
}

.card .madeBtn {
    padding: 5px 10px;
}

.card .editBtn {
    padding: 5px 10px;
    position: absolute;
    right: 30px;
    background-color: #409ff7;
}

.card .deleteBtn {
    text-align: center;
    padding: 5px;
    background-color: #c34b3b;
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.card button:hover {
    opacity: 0.8;
}

.secondPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    margin: 20px;
}
.secondPart div {
    width: 48%;
    background-color: #e67e22;
    border-radius: 10px;
}